# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
chap01/src/test/
chap01/target/
chap02/src/main/data/
chap02/src/test/
chap02/target/
chap03/src/main/java/org/dataalgorithms/topn/sparkwithlambda/
chap03/src/test/
chap03/target/
chap04/src/test/
chap04/target/
chap05/dependency-reduced-pom.xml
chap05/src/main/resources/
chap05/src/test/
chap05/target/
